# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/

# Ignore credentials and secrets
crypto-systems-main-credentials.json
config.py
app_log.log
# Ignore CSV or other sensitive data files (optional)
# resources/*.csv